<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!--<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>-->
    <property name="LOG_FILE" value="/tmp/log/logger-printer.log"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <!-- 参考了 org/springframework/boot/logging/logback/basic.xml 文件的配置，但root只输出到CONSOLE -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="io.jasonlu.logproducer.core.printer.LoggerPrinter" level="INFO">
        <appender-ref ref="FILE" />
    </logger>
</configuration>